@using pdrake.Models.MovieProject
@using System.Collections
@{
    Layout = null;
    MovieResults movieResults = ViewData["movies"] as MovieResults; 
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie Streaming Availability App</title>
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <a class="btn btn-primary" role="button" asp-controller="Home" asp-action="Index">Home Page</a>
            </div>
            <div class="col-4">
                <h3>Movie Streaming Availability App</h3>
            </div>
            <div class="dropdown col-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropDownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="False">Sort by Genres</button>
                <div class="dropdown-menu" aria-labelledby="dropDownMenuButton">
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="28">Action</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="12">Adventure</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="16">Animation</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="35">Comedy</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="80">Crime</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="99">Documentary</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="18">Drama</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="10751">Family</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="14">Fantasy</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="36">History</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="27">Horror</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="10402">Music</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="9648">Mystery</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="10749">Romance</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="878">Science Fiction</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="10770">TV Movie</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="53">Thriller</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="10752">War</a>
                    <a class="dropdown-item" asp-controller="Movie" asp-action="GetMovies" asp-route-genreId="37">Western</a>
                </div>
            </div>
            <div class="dropdown col-3">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Projects</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item">Food Recipe App</a>
              </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="row">
            @foreach (var movie in movieResults.Results)
            {
                <div class="col-3">
                    <a asp-controller="Movie" asp-action="MoviePage" asp-route-movieId="@movie.Id.ToString()"><img src="https://image.tmdb.org/t/p/w185/@movie.PosterPath" alt="@movie.Title"></a>
                    <br/>
                    <label>@movie.Title</label>
                </div>
            }
        </div>
    </div>
</main>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h3>@movieResults.TotalPages.ToString("N")</h3>
            </div>
            <div class="col-4">
                <nav id="movieNav" aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" asp-controller="Movie" asp-action="GetMovies" asp-route-page="@(movieResults.Page++.ToString())">Previous</a></li>
                        @* @for (int i = movieResults.Page; i <= 10; i++) *@
                        @* { *@
                        @*     <li class="page-item"><a class="page-link" asp-controller="Movie" asp-action="GetMovies" asp-route-page="@(movieResults.Page(i).ToString())">i</a></li> *@
                        @* } *@
                        <li class="page-item"><a class="page-link" asp-controller="Movie" asp-action="GetMovies" asp-route-page="@(movieResults.Page++.ToString())">Next</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-4">
                <h3>@movieResults.TotalResults.ToString("N")</h3>
            </div>
        </div>
    </div>
    <script rel="script" type="text/javascript" src="/js/site.js"></script>
    <script rel="script" type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
    <script rel="script" type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script rel="script" type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js"></script>
</footer>
</body>
</html>