@using pdrake.Models.MovieProject
@{
    Layout = null;
    Root movieResult = ViewData["movieResults"] as Root;
    Root movieProviders = ViewData["movieProviders"] as Root;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@movieResult.Title</title>
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body  style="background-image: url('https://image.tmdb.org/t/p/original/@movieResult.BackdropPath')">
<header>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <label class="text-center"><b>Release Date</b></label>
                <H3 class="text-center"><b>@movieResult.ReleaseDate</b></h3>
            </div>
            <div class="col-4">
                <label class="text-center"><b>Movie Title</b></label>
                <h1 class="text-center"><b>@movieResult.Title</b></h1>
                <label class="text-center"><b>Movie Length</b></label>
                <h1 class="text-center"><b>@movieResult.Runtime.ToString("N")</b></h1>
                <label class="text-center"><b>Tagline</b></label>
                <h3 class="text-center"><b>@movieResult.Tagline</b></h3>
                <label class="text-center"><b>Film Status</b></label>
                <h3 class="text-center"><b>@movieResult.Status</b></h3>
            </div>
            <div class="col-4">
                <label class="text-center"><b>Adult Content</b></label>
                <h3 class="text-center"><b>@movieResult.Adult.ToString()</b></h3>
                <label class="text-center"><b>Movie Genres</b></label>
                @foreach (var genre in movieResult.Genres)
                {
                    <h3 class="text-center"><b>@genre.Name</b></h3>
                }
            </div>
        </div>
    </div>
</header>
<main>
<div class="container">
    <div class="row">
        <div class="col-6"j>
            <label class="text-center"><b>Overview</b></label>
            <p><b>@movieResult.Overview</b></p>
        </div>
        <div class="col-2">
            <label class="text-center"><b>Movie Homepage</b></label>
            <h3 class="text-center"><b>@movieResult.Homepage</b></h3>
        </div>
        <div class="col-4">
            <h3 class="text-center"><b>@movieResult.OriginalLanguage</b></h3>
            <label class="text-center"><b>Spoken Languages</b></label>
            @foreach (var language in movieResult.SpokenLanguages)
            {
                <h3 class="text-center"><b>@language.EnglishName</b></h3>
            }
        </div>
        <div class="col-4">
            <label class="text-center"><b>Vote Count</b></label>
            <h3 class="text-center"><b>@movieResult.VoteCount.ToString()</b></h3>
            <label class="text-center"><b>Vote Average</b></label>
            <h3 class="text-center"><b>@movieResult.VoteAverage.ToString("N1")</b></h3>
            <label class="text-center"><b>Popularity</b></label>
            <h3 class="text-center"><b>@movieResult.Popularity.ToString("N1")</b></h3>
        </div>
        <div class="col-4">
            <label class="text-center"><b>Movie Budget</b></label>
            <h3 class="text-center"><b>@movieResult.Budget.ToString("C")</b></h3>
            <label class="text-center"><b>Movie Revenue</b></label>
            <h3 class="text-center"><b>@movieResult.Revenue.ToString("C")</b></h3>
        </div>
        <div class="col-4">
            <label class="text-center"><b>Production Company</b></label>
            @foreach (var company in @movieResult.ProductionCompanies)
            {
                <label class="text-center"><b>Company Name</b></label>
                <h3 class="text-center"><b>@company.Name</b></h3>
            }
            <label class="text-center">Countries where film was made</label>
            @foreach (var company in movieResult.ProductionCountries)
            {
                <label class="text-center"><b>Name of Country</b></label>
                <h3 class="text-center"><b>@company.Name</b></h3>
            }
        </div>
    </div>
</div>
</main>
<footer>
    <script rel="script" type="text/javascript" src="/js/site.js"></script>
    <script rel="script" type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
    <script rel="script" type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script rel="script" type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js"></script>
</footer>
</body>
</html>